<!DOCTYPE HTML>
<html>
<head>
    <title>上传图片</title>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <script type="text/javascript" src="/js/grid.js"></script>
    <script type="text/javascript" src="/js/version.js"></script>
    <script type="text/javascript" src="/js/detector.js"></script>
    <script type="text/javascript" src="/js/formatinf.js"></script>
    <script type="text/javascript" src="/js/errorlevel.js"></script>
    <script type="text/javascript" src="/js/bitmat.js"></script>
    <script type="text/javascript" src="/js/datablock.js"></script>
    <script type="text/javascript" src="/js/bmparser.js"></script>
    <script type="text/javascript" src="/js/datamask.js"></script>
    <script type="text/javascript" src="/js/rsdecoder.js"></script>
    <script type="text/javascript" src="/js/gf256poly.js"></script>
    <script type="text/javascript" src="/js/gf256.js"></script>
    <script type="text/javascript" src="/js/decoder.js"></script>
    <script type="text/javascript" src="/js/qrcode.js"></script>
    <script type="text/javascript" src="/js/findpat.js"></script>
    <script type="text/javascript" src="/js/alignpat.js"></script>
    <script type="text/javascript" src="/js/databr.js"></script>
</head>
<body>
    <iframe name="uploadfrm" id="uploadfrm" style="display: none;"></iframe>
    <form name="formHead" method="post" action="" id="formHead" enctype="multipart/form-data" target="uploadfrm">

        <div>
            <div>
                <!-- <input type="file" name="file_head" id="file_head" onchange="javascript:setImagePreview();" /> -->
                <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" class="sign_file" onchange="javascript:setImagePreview();"/>
            </div>
            <div>
                <!-- <div id="DivUp" style="display: none">
                    <input type="submit" data-inline="true" id="BtnUp" value="确认上传" data-mini="true" />
                </div> -->
            </div>
        </div>
    </form>
    <div data-role="fieldcontain">
        <div id="localImag">
            <img id="preview" width="-1" height="-1" style="display: none" />
        </div>
        <canvas id="qr-canvas" width="640" height="480" ></canvas>
    </div>

    <script type="text/javascript">  
        function setImagePreview() {  
            var preview, img_txt, localImag, file_head = document.getElementById("cameraInput"),  picture = file_head.value, canvas = document.getElementById("qr-canvas"), context = canvas.getContext("2d"); 

            function imageConvertToGray(ctx){ 
                var length = canvas.width * canvas.height; 
                imageData = ctx.getImageData(0, 0, canvas.width, canvas.height); 
                for (var i = 0; i < length * 4; i += 4) { 
                    var myRed = imageData.data[i]; 
                    var myGreen = imageData.data[i + 1]; 
                    var myBlue = imageData.data[i + 2]; 
                    myGray = parseInt((myRed + myGreen + myBlue) / 3); 
                    imageData.data[i] = myGray; 
                    imageData.data[i + 1] = myGray; 
                    imageData.data[i + 2] = myGray; 
                } 
                ctx.putImageData(imageData, 0, 0); 
            } 

            if (!picture.match(/.jpg|.gif|.png|.bmp/i)) {
                return alert("您上传的图片格式不正确，请重新选择！");  
            }
            
            preview = document.getElementById("preview");

            if (file_head.files && file_head.files[0]) {
                preview.style.display = "block";
                preview.style.width = "63px";
                preview.style.height = "63px";
                preview.src = window.URL.createObjectURL(file_head.files[0]);
                var img = new Image();
                img.src = document.getElementById('preview').src;
                img.onload = function() {
                    context.drawImage(img, 0,0,640,480);
                    imageConvertToGray(context);
                     try {
                        qrcode.callback = function(data) {
                            alert(data);
                            console.log('the data is : ' + data);
                            // 上传data信息到服务器端
                            
                        }
                        qrcode.decode();      
                    } catch(e) {
                        console.log("fail to read qrcode: " + e);
                        alert("二维码扫描失败！请重新进行扫描！");
                        preview.style.display = "none";
                        context.clearRect(0,0,640,480);
                    }
                }
            }
        }  
    </script>
</body>
</html>