<!DOCTYPE HTML>
<html lang="zh_CN">
<head>
    <title>登录页面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="登录页面">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <meta name="description" content="登录页面">
    <meta name="author" content="duandun">
    <link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.css' />
    <script type="text/javascript" src="/libs/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/libs/jquery-qrcode/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="/libs/oridomi/oridomi.js"></script>
    <style>
     
      .row {
        margin-top: 20px;
      }
      .sessionIdBox {
      	  position: absolute;
		  top: 50%;
		  left: 50%;
		  margin-left: -190px;
		  margin-top: -230px;
		  border-radius: 4px;
		  -moz-border-radius: 4px;
		  -webkit-border-radius: 4px;
		  background-color: #fff;
		  width: 380px;
		  height: 460px;
		  box-shadow: #999 0 2px 10px;
		  -moz-box-shadow: #999 0 2px 10px;
		  -webkit-box-shadow: #999 0 2px 10px;
      }
      .cont {
        margin-top: 10px;
        text-align: left;
      }
      i {
        margin-right: 20px;
        float: left;
      }
      #urlSessionId canvas {
        width: 100px;
        height: 100px;
      }
      p.title {
        margin: 0;
      }
      body {
        background: url('/img/background.jpg') no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
    </style>
</head>
<body>
<!--     <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <a class="brand" href="#"></a>
        </div>
    </div> -->
    <div class="container text-center" >
        <div class="row">
            <div class="sessionIdBox container">
            	<div class="row">
            		<div id="sessionId"></div>
            	</div>
            	<div class="row" style="display: inline-block">
        				<i class="fa fa-mobile fa-4x"></i>
                        <div class="cont">
                            <p>使用手机登录网站 www.abcd.com 扫描二维码</p>
                        </div>
                        
        		</div>
                <hr>
                <!-- <a class="btn btn-primary" role="button" id="btn1" data-toggle="collapse" href="#page" aria-expanded="false" aria-controls="page">按钮</a> -->
                <a class="btn btn-primary" role="button" data-toggle="collapse" href="#page" aria-expanded="false" aria-controls="page">
                    UC 浏览器
                </a>
    			<div class="row collapse well" id="page" aria-expanded="false">                    
                    <div class="cont">           
                        <p class="text-center">使用 UC 浏览器“扫一扫”功能扫描以下二维码</p>
                    </div>     
                    <div id="urlSessionId">
                    </div> 				
    			</div>
            </div>
        </div>
       
    </div>

    <script type="text/javascript">  
    	$(document).ready(function($) {
    		var str = 'fdasfdsafdsfsd456463dsa';
    		var str1 = 'http://192.168.57.56:3000?sessionId=123456';
             
         //   folded.stairs(20, 'bottom');
         //   folded.reveal(30, 'top');
            // folded.curl(50).collapse().setSpeed(2000).stairs(-29).foldUp().unfold();
    		$("#sessionId").empty();
    		$("#sessionId").qrcode(str);

    		$("#urlSessionId").empty();
    		$("#urlSessionId").qrcode(str1);

            $('#page').on('show.bs.collapse', function () {
              // $("#sessionId canvas").hide();
            });
            // $("#btn1").click(function() {
            //     //window.location.href="/loginok"; 
                
            // });
            
            
            // window.k = setInterval(function() {
            //     $.ajax({
            //         url: "",
            //         dataType: "json",
            //         type: "get",
            //         success: function(data) {
            //             if (data === "ok") {
            //   
            //                 window.location.href="/loginok"; 
            //                 return;
            //             }
            //         },
            //         error: function(data) {
            //             alert("出错了！");
            //             console.log(data);
            //         }
            //     });
            // }, 1000);

    	});
        </script>
    </body>
</html>