<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<style>
		body {
			font-size: 40px;
			text-align: center;
			margin-top: 50px;
		}
	</style>
</head>
<body>
	登录成功！
</body>
</html>