<!DOCTYPE HTML>
<html>
<head>
	<title>授权页面</title>
	<meta charset="utf-8">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">

	<link rel='stylesheet' href='/libs/bootstrap/dist/css/bootstrap.css' />
	<script type="text/javascript" src="/libs/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.js"></script>
	<!-- <script type="text/javascript" src="/libs/angularjs/angular.js"></script>
-->
  <link rel="stylesheet" href="/libs/patternLock/patternLock.css">
  <script type="text/javascript" src="/libs/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/libs/patternLock/patternLock.js"></script>


  <script type="text/javascript" src="/libs/jsqrcode/src/grid.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/version.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/detector.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/formatinf.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/errorlevel.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/bitmat.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/datablock.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/bmparser.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/datamask.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/rsdecoder.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/gf256poly.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/gf256.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/decoder.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/qrcode.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/findpat.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/alignpat.js"></script>
  <script type="text/javascript" src="/libs/jsqrcode/src/databr.js"></script>
</head>
<body class="container text-center" >

	<div class="row" >
		<video id="video"  height="200" autoplay style="display:none"></video>
	</div>
	<div class="page-header">
		<canvas id="qr-canvas" width="100" height="100"></canvas>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<canvas id="canvasA" width="100" height="100" ></canvas>
			<input type="hidden" id="inputA"  ></div>
		<div class="col-xs-6">
			<canvas id="canvasB" width="100" height="100" ></canvas>
			<input type="hidden" id="inputB"  ></div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<a type="button" value="授权机" id="btn1" class="btn btn-primary" href="javascript:;">授权机</a>
		</div>	
		<div class="col-xs-6">
			<a type="button" value="被授权机" id="btn2" class="btn btn-primary" href="javascript:;">被授权机</a>
		</div>
	</div>

  <div class="row">
    <div style="margin-top:20px;margin-bottom:20px;">
      <button role="button" id="send" class="btn btn-primary"  disabled="disabled">登陆</button>
      <button role="button" id="tempSave" class="btn btn-primary" >暂存</button>
      <button role="button" id="delCookie" class="btn btn-primary" >删除cookie</button>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div id="patternContainer" style="margin:auto;"></div>
  </div>

<script type="text/javascript"> 


    var sessionId = null;
    //点击登录，向服务器发送信息
    $("#send").click(function(e) {
      e.stopPropagation();
      alert($("#inputA").val() + "   " + $("#inputB").val());
        if ($("#inputA").val()&&$("#inputB".val())) {
          $.ajax({
            url: '',
            dataType: 'json',
            type: 'post',
            success: function(data) {

            },
            error: function(data) {
              alert("出错了！");
              console.log(data);
            }
          });
       }
    });

 // 设置 cookie 
　function setCookie(c_name, value, expiredays){
 　　　var exdate=new Date();
 　　　exdate.setHours(exdate.getHours() + expiredays);
　　　document.cookie = c_name+ "=" + escape(value) + ((expiredays==null) ? "" : ";expires="+exdate.toGMTString());
　　}
// 获取 cookie
  function getCookie(c_name){
  　　　　if (document.cookie.length>0){　　//先查询cookie是否为空，为空就return ""
  　　　　　　c_start=document.cookie.indexOf(c_name + "=");　　//通过String对象的indexOf()来检查这个cookie是否存在，不存在就为 -1　
  　　　　　　if (c_start!=-1){ 
  　　　　　　　　c_start=c_start + c_name.length+1;
  　　　　　　　　c_end=document.cookie.indexOf(";",c_start);
  　　　　　　　　if (c_end==-1) {
                    c_end=document.cookie.length;
                  }　
  　　　　　　　　return unescape(document.cookie.substring(c_start,c_end));
  　　　　　　} 
  　　　　}
  　　　　return '';
  　　}　
  //删除 cookie
function delCookie(name) { 
    var exp = new Date(); 
    exp.setTime(exp.getTime() - 1); 
    var cval=getCookie(name); 
    if(cval!=null) 
        document.cookie= name + "="+cval+";expires="+exp.toGMTString(); 
} 

window.addEventListener("DOMContentLoaded", function() {

    var _pattern = '';
    var count = 0;
    
    $("#delCookie").click(function() {
      delCookie('application');
    });

    $("#tempSave").click(function() {
      var token = $("#inputB").val();

      if ((!token && typeof(token)!="undefined" && token!=0)||token === '') {
        return;
      } else {
          $("#patternContainer").show();
          var lock = new PatternLock("#patternContainer", {
          onDraw: function(pattern) {
            count++;
            setTimeout(function() {
              lock.reset();
              if (count === 1) {
                  _pattern = pattern;
                  lock.checkForPattern(_pattern, function() {
                 //   alert("You unlocked your app");
                    var application = token + '&' + _pattern;
                    setCookie('application', application, 1);
                });
              }
            }, 1200);
          }
        });
      }  
    });

    if (!sessionId && typeof(sessionId)!="undefined" && sessionId!=0) {
        $("#canvasA").parent().show();
        $("#btn1").parent().show();
        $("#btn2").parent().attr('class', 'col-xs-6');
        $("#canvasB").parent().attr('class', 'col-xs-6');
    } else {
      $("#canvasA").parent().hide();
      $("#canvasB").parent().removeAttr("class");
      $("#btn1").parent().hide();
      $("#btn2").parent().removeAttr("class");
    }

    // 判断是否有cookie
    var appCookie = getCookie('application');
    if(appCookie != '') {
      $("#canvasB").parent().hide();
  
      $("#btn2").parent().hide();
      $("#patternContainer").show();

      var s_start=appCookie.indexOf('&');　
      var s_end = appCookie.length;　
      var s_pattern = appCookie.substring(s_start+1, s_end);

      var token = appCookie.substring(0, s_start);
      alert(token);
      

      var lock = new PatternLock("#patternContainer", {
          onDraw: function(pattern) {           
            setTimeout(function() {
              lock.reset();
              //alert(s_pattern);
            }, 1000);
          }
        });

       lock.checkForPattern(s_pattern, function() {
              alert('成功');
              $("#inputB").val(token);
        });

    } else {
      $("#canvasB").parent().show();
 
      $("#btn2").parent().show();
      $("#patternContainer").hide();
    }

    // Grab elements, create settings, etc.
    var canvas = document.getElementById("qr-canvas"),
        context = canvas.getContext("2d"),
        video = document.getElementById("video"), 
        videoArray = [],
        btn1 = document.getElementById("btn1"),
        btn2 = document.getElementById("btn2"),
        canvasA = document.getElementById("canvasA"),
        canvasB = document.getElementById("canvasB"),
        errBack = function(error) {
            console.log("Video capture error: ", error.code); 
        };

    navigator.getUserMedia = navigator.getUserMedia ||
        navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

    function gotSources(sourceInfos) {
      for (var i = 0; i !== sourceInfos.length; ++i) {
        var sourceInfo = sourceInfos[i];
        if (sourceInfo.kind === 'video') {
          videoArray.push(sourceInfo.id);
          // alert(videoArray);
        } else {
          console.log('Some other kind of source: ', sourceInfo);
        }
      }
      var constraints = {
            video: {
              optional: [{
                sourceId: videoArray[1]
              }]
            }
        };
      start(constraints);
    }

    function scan() {
        if (typeof MediaStreamTrack === 'undefined' ||
            typeof MediaStreamTrack.getSources === 'undefined') {
            alert('This browser does not support MediaStreamTrack.\n\nTry Chrome.');
            var constraints = {
                video: true
            };
            start(constraints);
        } else {
          MediaStreamTrack.getSources(gotSources);
        }

        // var constraints = {
        //     video: true
        // };
        // start(constraints);
     }


    function successCallback(stream) {
      window.stream = stream; // make stream available to console      
      video.src = window.URL.createObjectURL(stream);
      video.play();
    }

    function errorCallback(error) {
      console.log('navigator.getUserMedia error: ', error);
    }

    function recEvent(canvasDis) {
        var $input, btn;
        if (canvasDis.getAttribute("id")==="canvasA") {
                $input = $("#inputA");
                btn = document.getElementById("btn1");
        } else if (canvasDis.getAttribute("id")==="canvasB") {
                $input = $("#inputB");
                btn = document.getElementById("btn2");
        }
        window.i = setInterval(function() {
              //  context.drawImage(video, 140,220,200,200,0,0,200,200);
              context.drawImage(video, 140,220,300,300,0,0,100,100);
                //为提高速度，可以不转换为黑白图像
               // imageConvertToGray(context);
                 try{
                     qrcode.callback = function(data) {
                        alert(data);
                        console.log('the data is : ' + data);
                        $input.val(data);

                        if ($("#inputA").val() && $("#inputB").val()) {
                            $("#send").removeAttr("disabled");
                        }

   											contextDis = canvasDis.getContext("2d");
                        contextDis.putImageData(context.getImageData(0,0,canvas.width, canvas.height),0,0);
               //          context.fillStyle="ffffff";//白色为例子；
     										// context.clearRect(0,0,200,200);
                       // context.clearRect(0,0,canvas.width,canvas.height);
                        // context.drawImage('', 140,220,300,300,0,0,100,100);
                      //  video.src = '';
                        video.pause(); 

                        btn.style.backgroundColor = '#CC6633';
                        btn.style.borderColor = '#CC6633'; 
                    //    clearInterval(i);                       
                        // 将解析的数据发送到服务器端

                        };
                     qrcode.decode();          
                      } catch(e) {           
                        console.log('unable to read qr code');
                    }
            }, 20);
    }

    video.addEventListener('pause', function() {
      context.clearRect(0,0,200,200);
      clearInterval(i);
    });

    // 绑定授权机按钮事件
    btn1.addEventListener('click', function() {
        $(video).one('play', function() {
            recEvent(canvasA);
        });
        this.setAttribute('style', '');
        scan();
    });

    // 绑定被授权机按钮事件
    btn2.addEventListener('click', function() {
        $(video).one('play', function() {
            recEvent(canvasB);
        });
          this.setAttribute('style', '');
         scan();
    });

    function start(constraints) {
      if (!!window.stream) {
        video.src = null;
        window.stream.stop();
      }
        navigator.getUserMedia(constraints, successCallback, errorCallback);
    }
}, false);

    </script>
</body>
</html>